name: pr-agent

on:
  pull_request:
    types: [opened, reopened, synchronize]
    paths:
      - 'db/migrations/*.sql'

permissions:
  pull-requests: write
  issues: write

jobs:
  pr_agent:
    runs-on: ubuntu-latest
    name: Run pr-agent
    steps:
      - name: run pr-agent
        id: pr-agent
        uses: Codium-ai/pr-agent@v0.28
        env:
          OPENAI_KEY: ${{ secrets.OPENAI_KEY }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

          # Set Label on PR with Migraion files
          CUSTOM_LABELS: |
            - name: migration
              color: '#FF0000'
              description: 'Migration files found in this PR'
              default: true

          # Set Custom Prompt to checking Migration files
          PR_REVIEWER.EXTRA_INSTRUCTIONS: |
            YOU HAVE TO CHECK THE MIGRATION FILES IN THIS PR, ESPECIALLY SQL QUERIES CONTAIONED THESE TABLES.
            - 
            IF YOU FIND ANY SQL QUERIES THAT SET THE `UpdatedAt` COLUMN NOT TO THE CURRENT DATETIME, YOU HAVE TO ALERT THEM.
            Then, write the result of your check in Japanese in large font like 32 pt.
