name: pr-agent

on:
  pull_request:
    types: [opened, reopened, ready_for_review]
    paths:
      - 'db/migrations/*.sql'
  issue_comment:

permissions:
  pull-requests: write
  issues: write

jobs:
  pr_agent_job:
    name: Run pr-agent docker image on PR with migration files
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5 
        with:
          python-version: '3.13'

      - name: run pr-agent with custom prompt
        id: pr-agent-python
        env:
          OPENAI_KEY: ${{ secrets.OPENAI_API_KEY }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          PR_URL: ${{ github.event.pull_request.html_url }}
          COMMAND: "/ask --config.model='gpt-4o-mini' \
 --response_language='ja_JP' \
 \"YOU HAVE TO WRITE REVIEW RESULT IN JAPANESE. \
YOU HAVE TO CHECK THE MIGRATION FILES IN THIS PR, ESPECIALLY SQL QUERIES CONTAIONED THESE TABLES. \
- Persons \
IF YOU FIND ANY SQL QUERIES THAT SET THE 'CreatedAt' COLUMN NOT TO MEET THE FUTURE DATETIME, PRINT THIS 'CreatedAt が未来の日付に設定されていません' with h1 tag. \
ELSE IF YOU FIND ANY SQL QUERIES THAT SET THE 'CreatedAt' COLUMN TO MEET THE FUTURE DATETIME, PRINT THIS  'PASS: 日付のチェック'. \
YOU SHOULD NOT READ THE WHOLE FILES, JUST FOCUS ON THE SQL QUERIES AND ESPECIALY 'CreatedAt' COLUMN. \
DO NOT WAISTE YOUR TOKENS TO READ THE WHOLE FILES.\""
        # Set Custom Prompt to checking Migration files
        run: |
          echo "Running pr-agent with custom prompt..."
          pip install pr-agent
          python3 bin/pr-agent.py


