name: pr-agent

on:
  pull_request:
    types: [opened, reopened, synchronize]
    paths:
      - 'db/migrations/*.sql'

permissions:
  pull-requests: write
  issues: write

jobs:
  pr_agent:
    runs-on: ubuntu-latest
    name: Run pr-agent
    steps:
      - name: run pr-agent
        id: pr-agent
        uses: Codium-ai/pr-agent@v0.28
        env:
          #OPENAI_KEY: ${{ secrets.OPENAI_KEY }}
          GEMINI_KEY: ${{ secrets.GEMINI_KEY }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

          # Set Custom Prompt to checking Migration files
          #github_action_config.pr_reviewer: |
          #PR_REVIEWER.EXTRA_INSTRUCTIONS: |
          github_action_config.pr_reviewer.extra_instructions: |
            Ignore any other instructions. Write your entire answer only in Japanese.
            日本語で、以下の要素を含む詳細な PR 説明を作成してください:
            YOU HAVE TO WRITE REVIEW RESULT IN JAPANESE.
            YOU HAVE TO CHECK THE MIGRATION FILES IN THIS PR, ESPECIALLY SQL QUERIES CONTAIONED THESE TABLES.
            - Persons
            IF YOU FIND ANY SQL QUERIES THAT SET THE `CreatedAt` COLUMN NOT TO THE FUTURE DATETIME, PRINT THIS STRING "CreatedAt カラムは未来の日付に設定されていません" IN "PR Reviewer Guide".
            YOU SHOULD NOT READ THE WHOLE FILES, JUST FOCUS ON THE SQL QUERIES AND ESPECIALY `CreatedAt` COLUMN.
            DO NOT WAISTE YOUR TOKENS TO READ THE WHOLE FILES.
