name: pr-agent

on:
  pull_request:
    types: [opened, reopened, ready_for_review]
    paths:
      - 'db/migrations/*.sql'
  issue_comment:
    types: [created]

permissions:
  pull-requests: write
  issues: write

jobs:
  pr_agent_job:
    runs-on: ubuntu-latest
    name: Run pr-agent on every PR and issue comment
    steps:
      - name: pr-agent action step
        id: pr-agent
        uses: Codium-ai/pr-agent@v0.28
        env:
          OPENAI_KEY: ${{ secrets.OPENAI_API_KEY }}
          GEMINI_KEY: ${{ secrets.GEMINI_API_KEY }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

          # Set Custom Prompt to checking Migration files
          pr_custom_prompt.prompt: |
            YOU HAVE TO WRITE REVIEW RESULT IN JAPANESE.
            YOU HAVE TO CHECK THE MIGRATION FILES IN THIS PR, ESPECIALLY SQL QUERIES CONTAIONED THESE TABLES.
            - Persons
            IF YOU FIND ANY SQL QUERIES THAT SET THE 'CreatedAt' COLUMN NOT TO MEET THE FUTURE DATETIME, PRINT THIS Tex code $\color{red}{\Huge{\textsf{CreatedAt カラムが未来の日付に設定されていません}}}$.
            YOU SHOULD NOT READ THE WHOLE FILES, JUST FOCUS ON THE SQL QUERIES AND ESPECIALY 'CreatedAt' COLUMN.
            DO NOT WAISTE YOUR TOKENS TO READ THE WHOLE FILES.

